[submodule "/blog/themes/LoveIt"]
    path = "/blog/themes/LoveIt"
    url = "https://github.com/dillonzq/LoveIt.git"
[submodule "blog/themes/hugo-theme-stack"]
	path = blog/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
